.header-index {
  margin-top: 10px;
  text-align: center;
}

.card {
  width: 360px;
  height: 200px;
  display: inline-flex;
  padding: 10px;
  margin-left: 10px;
  margin-top: 10px;

  .card-image {
    width: 150px;
    height: 150px;
    align-items: center;
    margin-left: 95px;
    
  }
}

.card-name {
  text-align: center;
  color: rgb(15, 15, 94);
}

.match-card {
  cursor: pointer;
  border: #f0e8e8 solid 2px;
  border-radius: 10px 10px 10px 10px;
  width: 340px;
  height: 250px;
  display: inline-flex;
  margin-left: 30px;
  margin-top: 50px;
}

.match-card-name {
  display: block;
  text-align: center;
}

.versus {
  margin-top: 65px;
}

.row-height {
  height: 200px;
}

.match-card-image {
  width: 120px;
  height: 120px;
  align-items: center;
  border-radius: 50%;
  background-color: rgb(45, 192, 192);
  margin-top: 50px;
}

.matchlist-side {
  border: #f0e8e8 solid 2px;
  border-radius: 10px 10px 10px 10px;
  height: 600px;
  width: 360px;
  display: inline-flex;
  overflow-y: scroll;
}

.matchlist-main {
  margin-left: 5px;
  display: inline-flex;
  border-radius: 10px 10px 10px 10px;
  height: 600px;
  width: 1000px;
  overflow-y: scroll;
}

.unorderList {
  margin-top: 25px;
  display: grid;
}

.padding-zero {
  padding: 0px 0px 0px 0px;
  display: flex;
}
.matchlist-card {
  padding: 0px 0px 0px 0px;
  margin-top: -50px;
}

.list-data {
  list-style: none;
  margin-top: 18px;
  float: left;
  cursor: pointer;
}

.teamName {
  margin-left: 30px;
  text-align: center;
  color: rgb(15, 15, 94);
  font-weight: bold;
}
.infoselect {
  cursor: pointer;
  margin-left: 30px;
  text-align: center;
  color: rgb(15, 15, 94);
  font-size: 20px;
}
.underline-style {
  text-underline-offset: 8px;
  text-decoration: underline;
  -webkit-text-decoration-color: rgb(51, 223, 223); /* Safari */
  text-decoration-color: rgb(26, 209, 233);
}
.match-body {
  display: flex;
}

.button_right {
  margin-left: 920px;
}
// ------------------------------------------------- Basic Info  & Player Details  Modal Style

.modal-info {
  margin-top: 15px;
  height: 420px;
}
.basicInfo-image {
  width: 250px;
  margin-top: 25px;
}

.basicInfo-image {
  color: rgb(15, 15, 94);
  font-size: 32px;
  margin-top: 70px;
}

.basicInfo-country {
  color: grey;
  font-size: 30px;
  font-weight: lighter;
  margin-top: 30px;
  margin-left: 200px;
}

.basicInfo-summary {
  font-size: 20px;
  text-align: left;
}

.basicInfo-address {
  font-size: 20px;
  text-align: left;
  font-weight: lighter;
}

.table-border {
  border: white;
  text-align: center;
}

.input-border {
  border: none;
  text-align: center;
  display: inline-flex;
  float: left;
  margin-top: 10px;
  margin-left: 5px;
}

.player-button {
  border-radius: 30px 30px 30px 30px;
  width: 100px;
  border-color: aqua;
}

.modal-content {
  width: 860px;
  height: 590px;
  margin-left: -160px;
  overflow-y: scroll;
}
.modal-buttons {
  margin-left: 750px;
}

.modal-table-header {
  text-align: center;
}



// _______________________
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

// .card {
//   padding: 2em;
// }

.read-the-docs {
  color: #888;
}


// ______________________________________________________________________
:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

